<!DOCTYPE html>
<html>
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <title>Spelling Bee App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="{{url_for('static', filename='logo.png')}}" align="left" />
				<h2>BEAT THE BEE</h2>
				<h3>Enter Letters Here.</h3>
				<h4>To cheat on the Spelling Bee !</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
					<label class="control-label col-sm-2" for="fname"><h3><strong>Letter 1</strong></h3></label>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">
				  </div>
				</div>
                <div class="form-group">
					<label class="control-label col-sm-2" for="fname"><h3><strong>Letter 2</strong></h3></label>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname"><h3><strong>Letter 3</h3></strong></label>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">
				  </div>
				</div>
                				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname"><h3><strong>Letter 4</h3></strong></label>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">
				  </div>
				</div>
                <div class="form-group">
				  <label class="control-label col-sm-2" for="fname"><h3><strong>Letter 5</h3></strong></label>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">
				  </div>
				</div>
                <div class="form-group">
				  <label class="control-label col-sm-2" for="fname"><h3><strong>Letter 6</h3></strong></label>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">
				  </div>
				</div>
                <div class="form-group">
				  <label class="control-label col-sm-2" for="fname"><h3><strong>Letter 7</h3></strong></label>
                  <strong>MANDATORY LETTER</strong>
				  <div class="col-sm-1">
					<input type="text" class="form-control" id="fname" name="fname">

				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default"><a class="ml-2" href="{{ url_for('results') }}">Click Here<a></a></button>

				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>