<!DOCTYPE html>
<html>
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <title>Spelling Bee App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="{{url_for('static', filename='logo.png')}}" align="left" />
				<h2>BEAT THE BEE</h2>
				<h3>Enter Letters Here.</h3>
				<h4>To cheat on the Spelling Bee !</h4>
			</div>
		</div>
		<div class="col-md-9">
			<form action="/" method="POST">
			<div class="form-group">
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 1</h3></strong></label>
					<input class="form-control" type="text" name="Letter 1">

				  </div>
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 2</h3></strong></label>
					<input class="form-control" type="text" name="Letter 2">

				  </div>
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 3</h3></strong></label>
					<input class="form-control" type="text" name="Letter 3">

				  </div>
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 4</h3></strong></label>
					<input class="form-control" type="text" name="Letter 4">

				  </div>
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 5</h3></strong></label>
					<input class="form-control" type="text" name="Letter 5">

				  </div>
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 6</h3></strong></label>
					<input class="form-control" type="text" name="Letter 6">

				  </div>
			<div class="form-group">
				  <div class="col-sm-2">
				  <label><strong><h3>Letter 7</h3></strong></label>
					  <strong>Mandatory Letter</strong>
					<input class="form-control" type="text" name="Letter 7">

				  </div>
			</form>

				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-20">
					<button type="submit" class="btn btn-primary">Submit</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>